<script type="text/javascript" src="/js/broadcast.js"></script>
<script>var room = "<%=room%>";</script>

<div id="ascii" style="width: 800px; height: 600px">
	<video id="v" style="display: none;" autoplay width="800" height="600"></video>
	<div id="counter"></div>
</div>

<canvas id="c" width="800" height="600" style="display: none"></canvas>

