<script type="text/javascript" src="/js/broadcast.js"></script>

<div id="ascii" style="width: 800px; height: 600px">
	<canvas id="c" width="800" height="600" style="display: none"></canvas>
  <video id="v" autoplay width="800" height="600"></video>
	<div id="counter">0:05</div>
</div>


